[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-cors-headers = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-django = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."
